  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
  }


  /* button */

  .section .btn {
    margin-left: 90px;
    margin-top: 40px
  }

  .btn-link {

    color: #FFFFFF;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
  }

  .btn-link:hover {
    opacity: 0.9;
    border: 1px solid;
    padding: 10px 20px;
  }

  .writing-content btn {
    display: flex;
    align-items: center;
    cursor: pointer;
  }


  /* grid for section 1,2,3 */
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  /* section for image */

  .section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

